@use '@angular/material' as mat;

@include mat.core();

////////////////////////////////////////////////////////////////////////////////
// Light Theme
////////////////////////////////////////////////////////////////////////////////


$olympus-light-primary: mat.define-palette(mat.$teal-palette, 300, 500,900);
$olympus-light-accent: mat.define-palette(mat.$amber-palette, A200, A100, A400);
$olympus-light-warn: mat.define-palette(mat.$red-palette, A100);

$olympus-light-theme: mat.define-light-theme((
  color: (
    primary: $olympus-light-primary,
    accent: $olympus-light-accent,
    warn: $olympus-light-warn,
  )
));


////////////////////////////////////////////////////////////////////////////////
// Dark Theme
////////////////////////////////////////////////////////////////////////////////

$olympus-dark-primary: mat.define-palette(mat.$teal-palette,300,500,900);
$olympus-dark-accent: mat.define-palette(mat.$amber-palette, A200, A100, A400);
$olympus-dark-warn: mat.define-palette(mat.$red-palette,A100);
$olympus-dark-on-primary: mat.define-palette(mat.$amber-palette,  A100);

@include mat.all-component-themes($olympus-light-theme);

$olympus-dark-theme: mat.define-dark-theme((
  color: (
    primary: $olympus-dark-primary,
    accent: $olympus-dark-accent,
    warn: $olympus-dark-warn,
)
));

.dark-theme {
  @include mat.all-component-colors($olympus-dark-theme);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
