.content {
  display: block;
  position: relative;
}

.overlay {
  position: absolute;
  top: 0px;
  right: 0px;

  padding: 8px;
  z-index: 100;
}

.overlay button {
  margin-left: 8px;
  background: #ffffff;

}

.dark-theme button {
  background: #2e3132;
}


mat-card {
  min-width: 240px;
  height: 100%;
}

$img-height: 144px;

mat-card-title {
  padding-left: 16px;
  padding-bottom: 16px;
  text-overflow: ellipsis;
  overflow: hidden;
}

img {
  height: $img-height;

  width: 100%;
  object-fit: cover;
}

.missing-stream {
  width: 100%;
  height: $img-height;

  display: flex;
  justify-content: center;
  align-items: center;
}


a {
  color: inherit;
  text-decoration: none;
}

.missing-stream mat-icon {
  width: 60px;
  height: 60px;
  font-size: 60px;
}

.status-container {
  height: 24px;
}

.status {
  padding: 0px 16px;

  display: flex;
  justify-content: space-between;
}

.hidden {
  hidden: true;
}
