mat-card {
  grid-column-end: span 4;
}

mat-card-header button{
  margin-top: -8px;
}

mat-card a img {
  width: 100%;
}

mat-card-header span {
  flex: 1 1 auto;
}

mat-card-header button {
    margin-left: 8px;
}

.missing-stream {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}


a.missing-stream {
  color: inherit;
  text-decoration: none;
}

.missing-stream mat-icon {
  width: 60px;
  height: 60px;
  font-size: 60px;
}


.status {
  display: flex;
  justify-content: space-between;
}
