mat-expansion-panel {
  height: min-content;
}

mat-expansion-panel-header {
  padding-top: 4px;
  padding-bottom: 4px;

  height: min-content;
}

mat-expansion-panel-header span {
  margin-left: 16px;
  margin-right: 24px;
}

mat-panel-title{
  min-height: 48px;
  height: min-content;
  max-width: max-content;

  display: flex;
  justify-content: space-between;
}
