mat-expansion-panel {
  height: min-content;
}

mat-expansion-panel-header {
  padding-top: 4px;
  padding-bottom: 4px;

  height: min-content;
}

mat-expansion-panel-header span {
  padding-left: 24px;
  //padding-right: 24px;
}

mat-panel-title{
  max-width: 180px;
  min-height: 48px;
  height: min-content;

}
