:host {
  height: 100%;
  display: block;
}

.vertical-center {
  height: 100%;
  align-items: center;
  text-align: center;
  flex-flow: column wrap;
}

.big-icon {
  width: 100%;
  padding-bottom:32px;
}

.big-icon mat-icon {
  height:96px;
  width:96px;
  font-size: 96px;
}

.alarms-actions {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 8px;
}


.alarms {
  grid-column-end: span 4;

  @media(min-width: 600px) {
    grid-column-end: span 8;
  }

  @media(min-width: 905px) {
    grid-column-end: span 5;
    grid-column-start: 8;
    grid-row-start: 1;
    grid-row-end: span 2;
  }

  @media(min-width: 1240px) {
    grid-column-end: span 4;
    grid-column-start: 9;
  }

}


.climate {
  grid-column-end: span 4;
  display: flex;
  flex-flow: column wrap;
  gap: 16px;

  @media(min-width: 600px) {
    grid-column-end: span 8;
  }

  @media(min-width: 905px) {
    grid-column-end: span 7;
  }

  @media(min-width: 1240px) {
    grid-column-end: span 8;
  }
}


.tracking {
  grid-column-end: span 4;

  @media(min-width: 600px) {
    grid-column-end: span 8
  }

  @media(min-width: 905px) {
    grid-column-end: span 7
  }

  @media(min-width: 1240px) {
    grid-column-end: span 8;
  }
}
