<ng-template [ngIf]="state == 'loading'">
  <div class="flex vertical-center">
    <mat-spinner/>
  </div>
</ng-template>

<div *ngIf="state == 'error'" class="flex vertical-center">
  <div class="big-icon">
    <mat-icon>link_off</mat-icon>
  </div>
  <div class="mat-headline-3">{{zoneName()}} is offline</div>
</div>

<div *ngIf="state == 'success'" class="flex">
  <app-zone-status/>
  <app-tracking-player *ngIf="zone.tracking && zone.tracking.stream"
                       [src]="zone.tracking.stream.stream_URL"
                       [thumbnail]="zone.tracking.stream.thumbnail_URL" />
  <app-alarms-reports [alarms]="zone.alarms"/>
  <app-climate-chart/>
</div>
