.flex {
    flex-flow: column wrap;
}

.vertical-center {
  padding-top: 120px;
  align-items: center;
  text-align: center;
}

.vertical-center mat-spinner{
  margin-top: 48px;
}

.big-icon {
  width: 100%;
  padding-bottom:32px;
}

.big-icon mat-icon {
  height:96px;
  width:96px;
  font-size: 96px;
}


app-zone-status {
}

app-alarms-reports {
}

#tracking {
}

app-climate-chart {

}
