.flex-stretch {
  flex: 1 0 auto;
}

button {
  margin-right: 10px;
}

.parent {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

mat-expansion-panel, mat-card {
  max-width: 400px;
}
