<div class="table-responsive">
  <table class="table table-stripped table-sm">
	<thead>
	  <tr>
		<th></th>
		<th>Temperature (°C)</th>
		<th>Humidity (% R.H.)</th>
		<th>Wind (%)</th>
		<th>Visible Light (%)</th>
		<th>UV Light (%)</th>
	  </tr>
	</thead>
	<tbody>
	  <tr>
		<th>Target</th>
		<td>{{displayField('temperature')}}</td>
		<td>{{displayField('humidity')}}</td>
		<td>{{displayField('wind')}}</td>
		<td>{{displayField('visibleLight')}}</td>
		<td>{{displayField('uvLight')}}</td>
	  </tr>
	  <tr *ngIf="displayCurrent == true" >
		<th>Current</th>
		<td>{{currentTemperature | number:'2.2-2'}}</td>
		<td>{{currentHumidity | number:'2.2-2'}}</td>
		<td> N.A. </td>
		<td> N.A. </td>
		<td> N.A. </td>
	  </tr>
	</tbody>
  </table>
</div>
