mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.spacer {
  flex: 1 1 auto;
}

.logo {
  margin-right: 8px;
  height: 48px;
  display:block;
}

.hidden-a {
  color: inherit;
  text-decoration: none;
}
