.grid {
  @media(min-width: 600px) {
    padding-top: 64px;
  }
  height: min-content;
}

mat-list {
  grid-column-end: span 4;
  width: 100%;
}

mat-list-item {
  display: flex;
  justify-content: flex-start;
}

.subscriptions {
  grid-column-end: span 4;

  @media(min-width: 905px) {
      grid-column-end: span 8;
  }
}
