.live_preview_badge {
    user-select: none;
    display: flex;
    justify-content: center;
    height: 50px;
    width: 50px;
    cursor: pointer;
    color: #fff;
    line-height: 50px;
	font-family: videogular;
}
