$control-height: 48px;

vg-controls {
  height: $control-height;
}

vg-play-pause, vg-fullscreen {
  height: $control-height;
  width: $control-height;
}


vg-controls mat-icon,div {
  padding-left: 16px;
  user-select: none;
  align-self: center;
}
