<div  *ngIf="zone != null" class="container-fluid">
	<div class="row">
		<nav class="col-md-4  d-md-block sidebar">
			<div class="sidebar-sticky">
				<app-alarm-list></app-alarm-list>
			</div>
		</nav>
		<main role="main" class="col-md-7 ml-sm-auto col-lg-8 pt-3 px-4">
			<div *ngIf="streamUrl.length != 0">
				<app-video-js [urlVideo]="'/olympus/hls/' + zone.Host + '.m3u8'" [urlPoster]="'/olympus/' + zone.Host + '.png'"></app-video-js>
			</div>

			<h2> Climate Target for {{hostName}}.{{zoneName}} </h2>
			<div *ngIf="zone.Current != null">
				<h5 class="text-center"> Current State: '{{zone.Current.Name}}'</h5>
				<app-state [stateB]="zone.CurrentEnd" [stateA]="zone.Current" [displayCurrent]="true" [currentTemperature]="zone.Temperature" [currentHumidity]="zone.Humidity"> </app-state>
			</div>
			<div *ngIf="zone.Current == null">
				<h5 class="text-center"> No Current State Defined</h5>
			</div>
			<div *ngIf="zone.Next != null">
				<h5 class="text-center"> Next State: '{{zone.Next.Name}}' on {{ zone.NextTime | date: 'short' }}</h5>
				<app-state [stateB]="zone.NextEnd" [stateA]="zone.Next" [displayCurrent]="false"> </app-state>
			</div>
			<div *ngIf="zone.Next == null">
				<h5 class="text-center"> No Next State Defined</h5>
			</div>
			<app-climate-chart [hostName]="hostName" [zoneName]="zoneName"></app-climate-chart>
		</main>
	</div>
</div>
<div *ngIf="zone == null">
	<div *ngIf=" notFound == true">
		<div class="jumbotron">
			<h1>{{hostName}}.{{zoneName}} does not exists</h1>
			<p>It seems that this Dieu finished its work</p>
		</div>
	</div>
	<div *ngIf=" notFound == true">
		<div class="jumbotron">
			<h1>Loading {{hostName}}.{{zoneName}}</h1>
			<p>Firefox is often really, really slow to load this page.</p>
		</div>
	</div>
</div>
