<div class="container-fluid">
  <div class="row">
	<nav class="col-md-4  d-md-block sidebar">
	  <div class="sidebar-sticky">
		<app-alarm-list *ngIf="state==Loaded" [alarms]="zone.alarms"></app-alarm-list>
	  </div>
	</nav>
	<main role="main" *ngIf="state==Loaded" class="col-md-7 ml-sm-auto col-lg-8 pt-3 px-4">
	  <div *ngIf="zone.streamInfo.hasStream()">
		<app-video-js [urlVideo]="zone.streamInfo.streamURL()" [urlPoster]="zone.streamInfo.thumbnailURL()"></app-video-js>
	  </div>
	  <h2> Climate States for {{hostName}}.{{zoneName}} </h2>
	  <div *ngIf="zone.climate.current != null">
		<h5 class="text-center">
		  Current State: '{{zone.climate.current.name}}'
		</h5>
		<app-state [current]="zone.climate.current"
				   [end]="zone.climate.currentEnd"
				   [displayCurrent]="true"
				   [currentTemperature]="zone.climate.temperature"
				   [currentHumidity]="zone.climate.humidity">
		</app-state>
	  </div>
	  <div *ngIf="zone.climate.current == null">
		<h5 class="text-center"> No Current State Defined</h5>
	  </div>
	  <div *ngIf="zone.climate.next != null">
		<h5 class="text-center">
		  Next State: '{{zone.climate.next.name}}' on {{ zone.climate.nextTime | date: 'short' }}
		</h5>
		<app-state [current]="zone.climate.next"
				   [end]="zone.climate.nextEnd"
				   [displayCurrent]="false">
		</app-state>
	  </div>
	  <div *ngIf="zone.climate.next == null">
		<h5 class="text-center">No Next State Defined</h5>
	  </div>
	  <app-climate-view [hostName]="hostName" [zoneName]="zoneName"></app-climate-view>
	</main>
	<main role="main" *ngIf="state!=Loaded" class="col-md-7 ml-sm-auto col-lg-8 pt-3 px-4">
	  <div class="jumbotron">
		<ng-template [ngIf]="state==Loading">
		  <h1>Loading {{hostName}}.{{zoneName}}</h1>
		  <p>Firefox is often really, really slow to load this page.</p>
		</ng-template>
		<ng-template [ngIf]="state==Unavailable">
		  <h1>{{hostName}}.{{zoneName}} is unavailable</h1>
		  <p>It seems that this Zeus finished its work</p>
		</ng-template>
	  </div>
	</main>
  </div>
</div>
